<a href="https://colab.research.google.com/github/7ayushgupta/7ayushgupta.github.io/blob/master/TalentEdge%20Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data counts:

1. Peoplefinder: 2116153 rows - total file was not created
2. Peoplefinder__api__education: 3483617 rows - created
3. Peoplefinder__api__education_degrees: 3006033 rows - created
4. Peoplefinder__api__education_majors: 2882603 rows - created
5. Peoplefinder__api__education_minors: 1339 rows - created
6. Peoplefinder__api__education__school_profiles: 2023289 rows - created
7. Peoplefinder__api__experience: total file was not created
8. Peoplefinder__api__experience__company__profiles: total file was not created
9. Peoplefinder__api__experience__locations: 2761302 rows - created
10. Peoplefinde__api__experience__title_functions_total: 8127356 rows - created
11. Peoplefinde__api__experience__title_levels: 1661498 - created
12. Peoplefinde__api__industries: 1626891 - created
13. Peoplefinde__api__locations :      -created
14. Peoplefinder__api__primary__job__profile: rows-created
15. Peoplefinder__api__primary_job_location:309416 rows-created
16. Peplefinder__api__primary__job__title__functions: 1156830 rows created
17. Peoplefinder__api__primary__job__title__levels: 331052 rows created
18. Peoplefinder__api__primary__other_emails: 415028 rows
19. Peoplefinder__api__primary__personal_emails: 1242055 rows
20. Peoplefinder__api__primary__work_emails: 226200 rows
21. Peoplefinder__api__skills: 805906 rows -not created

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [0]:
cd  /content/drive/My\ Drive/talentedge_data/

/content/drive/My Drive/talentedge_data

In [0]:
ls

data_cleaned_1.obj
filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com/
peoplefinder__apidata__education__degrees_total.csv
peoplefinder__apidata__education__majors_total.csv
peoplefinder__apidata__education__minors_total.csv
peoplefinder__apidata__education__school__profiles_total.csv
peoplefinder__apidata__education_total.csv
peoplefinder__apidata__experience__company__profiles_total.csv
peoplefinder__apidata__experience__locations_total.csv
peoplefinder__apidata__experience__title__functions_total.csv
peoplefinder__apidata__experience__title__levels_total.csv
peoplefinder__apidata__experience_total.csv
peoplefinder__apidata__industries_total.csv
peoplefinder__apidata__locations_total.csv
peoplefinder__apidata__primary__job__company__profiles_total.csv
peoplefinder__apidata__primary__job__locations_total.csv
peoplefinder__apidata__primary__job__title__functions_total.csv
peoplefinder__apidata__primary__job__title__levels_total.csv
peoplefinder__apidata__primary__other_emails_total.csv
peoplefinder__apidata__primary__personal_emails_total.csv
peoplefinder__apidata__primary__work_emails_total.csv
peoplefinder_total.csv

In [0]:
import pandas as pd
import numpy as np

In [0]:
d= pd.read_csv("peoplefinder_total.csv")
d

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,40,41,43,44,45,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

         Unnamed: 0  ... record_type
0                 0  ...   Converted
1                 1  ...   Converted
2                 2  ...   Converted
3                 3  ...   Converted
4                 4  ...   Converted
...             ...  ...         ...
2116148     2116148  ...       Leads
2116149     2116149  ...       Leads
2116150     2116150  ...       Leads
2116151     2116151  ...       Leads
2116152     2116152  ...       Leads

[2116153 rows x 49 columns]

In [0]:
a= np.sum( d["record_type"]=="Converted")
a*100/len()

0.8311308303322114

In [0]:
len(d)

2116153

In [0]:
import pandas as pd
d1=pd.read_csv('peoplefinder_total.csv')
d1.keys()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (8,40,41,43,44,45,47) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index(['Unnamed: 0', 'DateOfEnquiry', '_id', '_sdc_batched_at',
       '_sdc_extracted_at', '_sdc_received_at', '_sdc_sequence',
       '_sdc_table_version', 'apidata__birth_date', 'apidata__gender',
       'apidata__primary__industry', 'apidata__primary__job',
       'apidata__primary__job__company',
       'apidata__primary__job__company__founded',
       'apidata__primary__job__company__industry',
       'apidata__primary__job__company__location',
       'apidata__primary__job__company__location__country',
       'apidata__primary__job__company__location__locality',
       'apidata__primary__job__company__location__region',
       'apidata__primary__job__company__name',
       'apidata__primary__job__company__size',
       'apidata__primary__job__company__website',
       'apidata__primary__job__end_date',
       'apidata__primary__job__last_updated',
       'apidata__primary__job__start_date', 'apidata__primary__job__title',
       'apidata__primary__job__title__name', 'apidata__primary__linkedin',
       'apidata__primary__location', 'apidata__primary__location__continent',
       'apidata__primary__location__country',
       'apidata__primary__location__last_updated',
       'apidata__primary__location__locality',
       'apidata__primary__location__name',
       'apidata__primary__location__region', 'apidata__primary__name',
       'apidata__primary__name__clean', 'apidata__primary__name__first_name',
       'apidata__primary__name__last_name',
       'apidata__primary__name__middle_name', 'batch_code', 'batch_name',
       'business_type', 'converted_date', 'course_category', 'course_duration',
       'course_name', 'lead_id', 'record_type'],
      dtype='object')

In [0]:
d1.head()

   Unnamed: 0  ... record_type
0           0  ...   Converted
1           1  ...   Converted
2           2  ...   Converted
3           3  ...   Converted
4           4  ...   Converted

[5 rows x 49 columns]

In [0]:
len(d1['_id'].unique())

2115451

In [0]:
d1.shape

(2116153, 49)

In [0]:
h=d1['title']
print(h.unique())
import numpy as np 


#h=list(np.array(h))
#len(h)

[nan]

In [0]:
!wget -v "https://filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com/mongodumpleadss3filtered/peoplefinder/peoplefinder__apidata__education__majors_total.csv?response-content-disposition=attachment&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECkaCmFwLXNvdXRoLTEiSDBGAiEA9Af%2Fyfj0hrxopXxM5sBMoEn%2B494V2WZcNmXZwwejmjYCIQCX5MxkUiwE5hJqxXAm873irPtx1Z5a1TmJXb2wwpDOqCqtAgjC%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE3NDkwNDU5MjY5MSIMScVswHxmTs0RQrRuKoECMcndxwFGNfyTIFjJxggWKR4ScAQBvRGBSU32EbdETikBUyLGM7jvsfaeQVZ44KpkWI489Qvj2OkXbRMhVSyvFWdmeiF%2FMCcgXmJeFi%2BcwjHmFbaafvq%2BP0OAbGsIrm%2FEHgrdk2Bz0wbRB8S76uexFhlL2wpgdGYWn22oWgusQCauSa%2FqQdC55I08Zf4HgNzA8Y%2FxMJEPDUz21HeTItGq6nbj2hRPSZKX4o%2BHumXjRdw5PbW%2FXlug3wm2Lz2cLSEdT2O1C2WkjxfBYRUm%2BcCu8EToAwEmBCoc9xZ2IM4dciWn6KwMNCpPo4G%2BmpQ1CqJRXVnbR9GBSkWZRDUAkOtbf1ww48fB8QU6gQMcw0QMw0Z8Ok4AiQvpIoFktKBhFlp28JbUkrtyZ73YPQYmUsQdyKzQWuXSSEzsRzT%2FKEhIveo62YLruypmqfSAk3Mpi3s9jIZBC0L3fCL4LwOBYHaZjkln2FpCSi%2FFLtGYtgCxm50aP8zTKYgOfWQ20%2B55%2FEjq%2FRrTBvboSUb0p15PJhodWYNFmn6Ol86qeLufDYKM9LOKT9naf1FwEj4Bv0WmFgCrTB8pxpSAU1KWG8TsHUftJdE2BxdY%2FafkKj%2F0k7x0og0ayZQK6TsvYMBVgTUsZrlG3xoxI82jw2BQquemnVzitucX2Jsbq3kBZRMvAzjHCGePHZ89UpXdOXkVGamrEZ1a6VXS3Tjkjs%2Brg%2BOEIbBCh1Go8iH52nZyyMwyXnhVIBt2LekQ0kI91%2FRu8RZkwVsR47mOXy4KG7l4cBaIjYb3P2sy79fm3skKTLMD3ZCN9c5DqLf5ifpy2spN%2BPlRt9mmjUHvUHGKd5caG3woV%2FVNsqYnDHoAciDUXTzS&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200128T164112Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIASROJAJEZVA6OJXK2%2F20200128%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Signature=8d6150f0f0ff3d6707de9c63cbeaee85128f5f7f73fe694af04eb90ad377efd0"

The name is too long, 1491 chars total.
Trying to shorten...
New name is peoplefinder__apidata__education__majors_total.csv?response-content-disposition=attachment&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECkaCmFwLXNvdXRoLTEiSDBGAiEA9Af%2Fyfj0hrxopXxM5sBMoEn+494V2WZcNmXZwwejmjYCIQCX5MxkUiwE5hJqxXAm873irPtx1Z5a1T.
--2020-01-28 16:42:00--  https://filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com/mongodumpleadss3filtered/peoplefinder/peoplefinder__apidata__education__majors_total.csv?response-content-disposition=attachment&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECkaCmFwLXNvdXRoLTEiSDBGAiEA9Af%2Fyfj0hrxopXxM5sBMoEn%2B494V2WZcNmXZwwejmjYCIQCX5MxkUiwE5hJqxXAm873irPtx1Z5a1TmJXb2wwpDOqCqtAgjC%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE3NDkwNDU5MjY5MSIMScVswHxmTs0RQrRuKoECMcndxwFGNfyTIFjJxggWKR4ScAQBvRGBSU32EbdETikBUyLGM7jvsfaeQVZ44KpkWI489Qvj2OkXbRMhVSyvFWdmeiF%2FMCcgXmJeFi%2BcwjHmFbaafvq%2BP0OAbGsIrm%2FEHgrdk2Bz0wbRB8S76uexFhlL2wpgdGYWn22oWgusQCauSa%2FqQdC55I08Zf4HgNzA8Y%2FxMJEPDUz21HeTItGq6nbj2hRPSZKX4o%2BHumXjRdw5PbW%2FXlug3wm2Lz2cLSEdT2O1C2WkjxfBYRUm%2BcCu8EToAwEmBCoc9xZ2IM4dciWn6KwMNCpPo4G%2BmpQ1CqJRXVnbR9GBSkWZRDUAkOtbf1ww48fB8QU6gQMcw0QMw0Z8Ok4AiQvpIoFktKBhFlp28JbUkrtyZ73YPQYmUsQdyKzQWuXSSEzsRzT%2FKEhIveo62YLruypmqfSAk3Mpi3s9jIZBC0L3fCL4LwOBYHaZjkln2FpCSi%2FFLtGYtgCxm50aP8zTKYgOfWQ20%2B55%2FEjq%2FRrTBvboSUb0p15PJhodWYNFmn6Ol86qeLufDYKM9LOKT9naf1FwEj4Bv0WmFgCrTB8pxpSAU1KWG8TsHUftJdE2BxdY%2FafkKj%2F0k7x0og0ayZQK6TsvYMBVgTUsZrlG3xoxI82jw2BQquemnVzitucX2Jsbq3kBZRMvAzjHCGePHZ89UpXdOXkVGamrEZ1a6VXS3Tjkjs%2Brg%2BOEIbBCh1Go8iH52nZyyMwyXnhVIBt2LekQ0kI91%2FRu8RZkwVsR47mOXy4KG7l4cBaIjYb3P2sy79fm3skKTLMD3ZCN9c5DqLf5ifpy2spN%2BPlRt9mmjUHvUHGKd5caG3woV%2FVNsqYnDHoAciDUXTzS&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200128T164112Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIASROJAJEZVA6OJXK2%2F20200128%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Signature=8d6150f0f0ff3d6707de9c63cbeaee85128f5f7f73fe694af04eb90ad377efd0
Resolving filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com (filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com)... 52.219.64.99
Connecting to filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com (filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com)|52.219.64.99|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 390396361 (372M) [binary/octet-stream]
Saving to: â€˜peoplefinder__apidata__education__majors_total.csv?response-content-disposition=attachment&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECkaCmFwLXNvdXRoLTEiSDBGAiEA9Af%2Fyfj0hrxopXxM5sBMoEn+494V2WZcNmXZwwejmjYCIQCX5MxkUiwE5hJqxXAm873irPtx1Z5a1Tâ€™

peoplefinder__apida 100%[===================>] 372.31M  11.1MB/s    in 35s

2020-01-28 16:42:36 (10.7 MB/s) - â€˜peoplefinder__apidata__education__majors_total.csv?response-content-disposition=attachment&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECkaCmFwLXNvdXRoLTEiSDBGAiEA9Af%2Fyfj0hrxopXxM5sBMoEn+494V2WZcNmXZwwejmjYCIQCX5MxkUiwE5hJqxXAm873irPtx1Z5a1Tâ€™ saved [390396361/390396361]

In [0]:
d=d1["_sdc_source_key__id"].unique()
d.shape

(999347,)

In [0]:
df = d1.groupby(['_sdc_source_key__id', '_sdc_table_version']).size().reset_index(name='Freq')
df

             _sdc_source_key__id  _sdc_table_version  Freq
0       5c3f12671a7dca2853e6f8df       1577790273940     2
1       5c3f12801a7dca2853e6f8ef       1577790273940     1
2       5c3f12831a7dca2853e6f8f1       1577790273940     1
3       5c3f128d1a7dca2853e6f8f8       1577790273940     1
4       5c3f12981a7dca2853e6f8ff       1577790273940     1
...                          ...                 ...   ...
999342  5cee314cd4b1eb24eacddc02       1577790273940     2
999343  5cee314cd4b1eb24eacddc09       1577790273940     1
999344  5cee314cd4b1eb24eacddc1f       1577790273940     1
999345  5cee314cd4b1eb24eacddc2a       1577790273940     1
999346  5cee314cd4b1eb24eacddc39       1577790273940     1

[999347 rows x 3 columns]

In [0]:
!wget -v "https://filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com/mongodumpleadss3filtered/peoplefinder/peoplefinder_total.csv?response-content-disposition=attachment&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBwaCmFwLXNvdXRoLTEiSDBGAiEAlp7BL54w8I6NELXnKVhfSzPvXY9oC9O8w7Mfr5ilcJMCIQCrvQqfHgtQOluFYPN5xqIEAKZe9wuepAIr%2Fa0wGwOgBCquAgi1%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE3NDkwNDU5MjY5MSIMNNiBX162zy7NQJ6NKoIC25ivihL7EknGpKBtcABGrmQZKvoWdHRDoD5iOHAdHm9OKt1xW75mAdqjo29zelCMQ1ctUSSd1WJR1Ej5yoyq6tZyrBY7HcoTnRqnOLzO3incXoXIXClspnPsqERp2xGOq46OiDJGc8sOsBGkZZJnXa9yBjTxbH4k8%2FXaN0xl3SYVkdyfHh5fI15tyChNNAW85fBhCxDpb7eF4QUlpPlJYAKsej7xJZlX5ncN%2FLlAnpBYjYCrC6quq8zmLg6o7mT16wrvDjljtT9ne6QP8nawsEtFLsORgVrlDxh8NO6wV4I3K60Ewm6mDw6ZoWJScV8G%2FUAFYZoQ55zkutgYB1jJfLBOMNXnvvEFOoEDJ%2F7zZ%2FZ7C%2BNYS2LgVfvlYB8i6Ub0Wc30969DnqoP667EmusnwwW33V8W3o%2ByRFjXxowmzh0T0tiMy%2FPgd5IGMR3I2cIdrKIK5o5PtM%2F6hLJhlV1yc1Cm5P0e1zw5bLPqhbHlSFO8ovtvc2uub5Y34zUytmJ%2Fn09S38yBDPtY5adqjU2mMsIhkC7u1gBJwCjq6HMydvop6CnMNBjvg9a2PuDrV9bBWOu4iXRGZY%2BayAQN5roeBus69I85MQ%2Ff7oMovJuS%2FoUt%2FFH9Avk2ymBGNczRGZdlp%2FktRsRxCysCysy%2B5ooOfVkoYCe6UooNusYrUyg4xqWtA3YZXBKV%2FHX1mxK1Grsmz%2BfODTj%2BKw%2Fh7Vk%2BF0ZYUY2qFNnU160pY5NgqMabHxbUojSKqHQzhf%2B8hOYTHvgBq2e5KDcWKu8YwXEaTzIgQXJ7oIoNdGiH1%2BK4TH1FuOQBbo2%2FDlleMlRpKgm2rYE1u9NkorKPiHEOVP%2BcDhO8iU4Yup4URnYJKPihSg%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200128T092817Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIASROJAJEZXQJREKWE%2F20200128%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Signature=ecf7c02632ef7bd1fba5432d861b6b203986abef4e5fe8b0020091302ab43a20"

The name is too long, 1471 chars total.
Trying to shorten...
New name is peoplefinder_total.csv?response-content-disposition=attachment&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBwaCmFwLXNvdXRoLTEiSDBGAiEAlp7BL54w8I6NELXnKVhfSzPvXY9oC9O8w7Mfr5ilcJMCIQCrvQqfHgtQOluFYPN5xqIEAKZe9wuepAIr%2Fa0wGwOgBCquAgi1%2F%2F%2F%.
--2020-01-28 10:06:43--  https://filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com/mongodumpleadss3filtered/peoplefinder/peoplefinder_total.csv?response-content-disposition=attachment&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEBwaCmFwLXNvdXRoLTEiSDBGAiEAlp7BL54w8I6NELXnKVhfSzPvXY9oC9O8w7Mfr5ilcJMCIQCrvQqfHgtQOluFYPN5xqIEAKZe9wuepAIr%2Fa0wGwOgBCquAgi1%2F%2F%2F%2F%2F%2F%2F%2F%2F%2F8BEAAaDDE3NDkwNDU5MjY5MSIMNNiBX162zy7NQJ6NKoIC25ivihL7EknGpKBtcABGrmQZKvoWdHRDoD5iOHAdHm9OKt1xW75mAdqjo29zelCMQ1ctUSSd1WJR1Ej5yoyq6tZyrBY7HcoTnRqnOLzO3incXoXIXClspnPsqERp2xGOq46OiDJGc8sOsBGkZZJnXa9yBjTxbH4k8%2FXaN0xl3SYVkdyfHh5fI15tyChNNAW85fBhCxDpb7eF4QUlpPlJYAKsej7xJZlX5ncN%2FLlAnpBYjYCrC6quq8zmLg6o7mT16wrvDjljtT9ne6QP8nawsEtFLsORgVrlDxh8NO6wV4I3K60Ewm6mDw6ZoWJScV8G%2FUAFYZoQ55zkutgYB1jJfLBOMNXnvvEFOoEDJ%2F7zZ%2FZ7C%2BNYS2LgVfvlYB8i6Ub0Wc30969DnqoP667EmusnwwW33V8W3o%2ByRFjXxowmzh0T0tiMy%2FPgd5IGMR3I2cIdrKIK5o5PtM%2F6hLJhlV1yc1Cm5P0e1zw5bLPqhbHlSFO8ovtvc2uub5Y34zUytmJ%2Fn09S38yBDPtY5adqjU2mMsIhkC7u1gBJwCjq6HMydvop6CnMNBjvg9a2PuDrV9bBWOu4iXRGZY%2BayAQN5roeBus69I85MQ%2Ff7oMovJuS%2FoUt%2FFH9Avk2ymBGNczRGZdlp%2FktRsRxCysCysy%2B5ooOfVkoYCe6UooNusYrUyg4xqWtA3YZXBKV%2FHX1mxK1Grsmz%2BfODTj%2BKw%2Fh7Vk%2BF0ZYUY2qFNnU160pY5NgqMabHxbUojSKqHQzhf%2B8hOYTHvgBq2e5KDcWKu8YwXEaTzIgQXJ7oIoNdGiH1%2BK4TH1FuOQBbo2%2FDlleMlRpKgm2rYE1u9NkorKPiHEOVP%2BcDhO8iU4Yup4URnYJKPihSg%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20200128T092817Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIASROJAJEZXQJREKWE%2F20200128%2Fap-south-1%2Fs3%2Faws4_request&X-Amz-Signature=ecf7c02632ef7bd1fba5432d861b6b203986abef4e5fe8b0020091302ab43a20
Resolving filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com (filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com)... 52.219.64.99
Connecting to filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com (filtered-data-mongo-leads.s3.ap-south-1.amazonaws.com)|52.219.64.99|:443... connected.
HTTP request sent, awaiting response... 403 Forbidden
2020-01-28 10:06:45 ERROR 403: Forbidden.

In [0]:
from pandas import DataFrame
import numpy as np 
test = DataFrame(d1, columns= ['_sdc_source_key__id'])
dups = test.pivot_table(index=['_sdc_source_key__id'], aggfunc='size')
dups = np.array(dups)

In [0]:
dups.shape

(999347,)

In [0]:
len(d1)

1626891